<c-card class="mb-4">
  <c-card-header>
    Kontak Kami
  </c-card-header>
  <c-card-body>
    <div class="bd-example">
      <dl style="text-align: center;" >
        <dt class="col-sm-12">Dinas Komunikasi dan Informatika Kabupaten Kendal</dt>
        <dd class="col-sm-12">
          <span>Jalan Soekarno-Hatta No. 193 Kendal</span><br />
          <span>(0294) 384353</span><br />
          <span>diskominfo&#64;kendalkab.go.id</span><br />
          <span>Instagram &#64;dinas_kominfokendal</span><br />
          <span>Facebook Dinas Kominfo Kendal</span><br />
          <span>Twitter &#64;diskominfokend1</span><br />
        </dd>
        <!-- <dd class="col-sm-12">(0294) 384353</dd>
        <dd class="col-sm-12">diskominfo&#64;kendalkab.go.id</dd>
        <dd class="col-sm-12">Instagram &#64;dinas_kominfokendal</dd>
        <dd class="col-sm-12">Facebook Dinas Kominfo Kendal</dd>
        <dd class="col-sm-12">Twitter &#64;diskominfokend1</dd> -->
      </dl>
    </div>
  </c-card-body>
</c-card>