<!-- <c-footer> -->
  <div class="container py-4">
    <div class="row justify-content-md-center py-5 mt-3">
      <div class="col-md-12 col-lg-3 d-flex align-items-center justify-content-center justify-content-lg-start mb-5 mb-lg-0">
        <a href="http://data.jatengprov.go.id/" class="img-fluid image_badge zoom" style="margin-right: 10px;" target="_blank">
          <img fluid  src="https://kudasakti.kendalkab.go.id/frontend/images/static/denmas_nocomment.png" style="width: 55px; height: 90px;"/>
        </a>
     
        <a href="http://data.jatengprov.go.id/" class="img-fluid image_badge zoom" style="margin-right: 10px;" target="_blank">
          <img fluid  id="opendatajateng" src="https://kudasakti.kendalkab.go.id/frontend/images/static/opendatajateng_black_text.png" height="65px" alt="">
        </a>
  
        <a href="https://data.go.id/" class="img-fluid image_badge zoom" style="margin-right: 10px;" target="_blank">
          <img fluid  id="satudataindonesia" src="https://kudasakti.kendalkab.go.id/frontend/images/static/satudataindonesia.png" height="65px" alt="">
        </a>
      </div>
      <div class="col-md-6 col-lg-2 text-center text-lg-start mb-5 mb-lg-0">
        <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Pages</h5>
        <ul class="list list-unstyled">
          <li class="mb-1"><a href="page-services.html" class="link-hover-style-1"> Our Services</a></li>
          <li class="mb-1"><a href="about-us.html" class="link-hover-style-1"> About Us</a></li>
          <li class="mb-1"><a href="contact-us.html" class="link-hover-style-1"> Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-2 text-center text-lg-start mb-5 mb-lg-0">
        <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Links</h5>
        <ul class="list list-unstyled">
          <li class="mb-1"><a href="page-faq.html" class="link-hover-style-1"> FAQ's</a></li>
          <li class="mb-1"><a href="sitemap.html" class="link-hover-style-1"> Sitemap</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-5 text-center text-lg-start">
        <h4 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Dinas Komunikasi dan Informatika Kabupaten Kendal</h4>
        <p class="mt-3 mb-0 text-center text-lg-start">
          <!-- <span></span><br/> -->
          <!-- <span>Kabupaten Kendal</span><br/> -->
          <span>Jalan Soekarno-Hatta No. 193 Kendal</span><br/>
          <a href="tel:+62294384353"> <svg cIcon name="cilPhone" size="lg"></svg> (0294) 384353 </a><br/>
          <a href="mailto:diskominfo@kendalkab.go.id?Subject=Kudasakti"><svg cIcon name="cilEnvelopeOpen" size="lg"></svg> diskominfo&#64;kendalkab.go.id</a>
        </p>
      </div>
    </div>
  </div>
<!-- </c-footer> -->

<!--<c-footer>-->
  <!-- <div style="margin-left: 150px;">
      <a href="http://data.jatengprov.go.id/" class="image_badge zoom" style="margin-right: 10px;" target="_blank">
        <img fluid  src="https://kudasakti.kendalkab.go.id/frontend/images/static/denmas_nocomment.png" style="width: 55px; height: 90px;"/>
      </a>
   
      <a href="http://data.jatengprov.go.id/" class="image_badge zoom" style="margin-right: 10px;" target="_blank">
        <img fluid  id="opendatajateng" src="https://kudasakti.kendalkab.go.id/frontend/images/static/opendatajateng_black_text.png" height="65px" alt="">
      </a>

      <a href="https://data.go.id/" class="image_badge zoom" style="margin-right: 10px;" target="_blank">
        <img fluid  id="satudataindonesia" src="https://kudasakti.kendalkab.go.id/frontend/images/static/satudataindonesia.png" height="65px" alt="">
      </a>
  </div>
  <div class="ms-auto" style="text-align: center;">
    <span>Dinas Komunikasi dan Informatika</span><br/>
    <span>Kabupaten Kendal</span><br/>
    <span>Jalan Soekarno-Hatta No. 193 Kendal</span><br/>
    <a href="tel:+62294384353"> <i class="fa fa-phone"></i> (0294) 384353 </a><br/>
    <a href="mailto:diskominfo@kendalkab.go.id?Subject=Kudasakti"><i class="fa fa-envelope"></i> diskominfo&#64;kendalkab.go.id</a>
  </div>
  <div class="ms-auto" style="margin-right: 150px; margin-top: 10px;">
    <c-row>
      <c-col>
        <a href="/frontend/site/kontak" class="twitter" role="modal-remote">
          <c-col class="mb-5" [md]="3" [sm]="4" [xl]="2" [xs]="6">
            <svg cIcon name="cilHome" title="Kontak" size="3xl"></svg>
            <div>Kontak</div>
          </c-col>
        </a>
      </c-col>
      <c-col>
        <a href="/frontend/poll" class="polling" role="modal-remote">
          <c-col class="mb-5" [md]="3" [sm]="4" [xl]="2" [xs]="6">
            <svg cIcon name="cilThumbUp" title="Kontak" size="3xl"></svg>
            <div>Polling</div>
          </c-col>
        </a>
      </c-col>
      <c-col>
        <a href="/frontend/aduan" class="fb" role="modal-remote">
          <c-col class="mb-5" [md]="3" [sm]="4" [xl]="2" [xs]="6">
            <svg cIcon name="cilHandshake" title="Kontak" size="3xl"></svg>
            <div>Testimoni</div>
          </c-col>
        </a>
      </c-col>
    </c-row>
  </div> -->
<!--</c-footer>-->
