<c-row class="g-4" style="margin-bottom: 10px;">
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" [title]="'Data Triwulan'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon1-triwulan.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="info" [title]="'Data Tahunan'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon2-tahunan.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning" [title]="'Data Sektoral'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon3-sektoral.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="danger" [title]="'Gender'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon4-gender.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>

<c-row class="g-4" style="margin-bottom: 10px;">
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="info" [title]="'Kecamatan'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon5-kecamatan.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning" [title]="'Indikator Kinerja'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon6-ikk.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="danger" [title]="'SGD'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon7-sdgs.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" [title]="'Tanya Den Mas'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon8-denmas.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>

<c-row class="g-4" style="margin-bottom: 10px;">
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning" [title]="'Elibrary'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon9-elib.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="danger" [title]="'Peta Tematik'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon10-petatematik.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" [title]="'Open Data'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon11-opendata.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="info" [title]="'Harga'" >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces></ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <img src="https://kudasakti.kendalkab.go.id/frontend/images/static/icon12-harga.png" height="100%" alt style="max-height:220px">
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>